/*footer*/
footer {
    background-color: $bg-color;
    margin-top: 64px;
  
    @media #{$brkmx768}{
      margin-top: 20px;
    }
    .container-xl {
      position: relative;
  
      .footer-upper {
        width: 100%;
        background-color: $main-color;
        color: $white;
        @include rounded(10px);
        padding: 28px 150px;
        position: absolute;
        top: -50px;
        left: 0;

        @media #{$brkmx1200}
        {
          padding: 28px 28px;
        }
  
        @media #{$brkmx900}
        {
          position: static;
          top: auto;
          left: auto;
          margin: 0 auto;
        }
  
        .footer-upper-left{
          flex-grow: 1;    
          flex-shrink: 1; 
          flex-basis: 300px; 
  
          h3 {
            @include text-style(700, 18px, 38px, 0%);
            text-transform: capitalize;
          }
          p {
            @include text-style(400, 14px, 24px, 0%);
          }
        }
        .input-wrapper {
          position: relative;
          width: 100%;
        
          input {
            width: 80%;
            padding-right: 110px;
            height: 48px;
            border-radius: 6px;
            border: none;
          }
        
          .submit-btn {
            position: absolute;
            width: 100%;
            max-width: 135px;
            top: -17%;
            right: 30px;
            transform: translateY(-50%);
            height: 48px;
            padding: 10px 16px;
            font-size: 14px;
            border-radius: 10px;
            color: $bg-color;
            border: 2px solid $white;
          }
          .btn-primary:hover {
            background-color: $main-color;
          }
          
  
          @media #{$brkmx900} {
            input {
              width: 100%;
              padding-right: 0;
              margin-bottom: 2px;
            }
            .submit-btn {
              position: static;
              transform: none;
              width: 100%;
              max-width: 100%;
              height: 44px;
            }
          }
        }
      }
      @media #{$brkmx768} {
        .footer-upper {
          flex-direction: column;
  
        .footer-upper-right, .footer-upper-left{
          flex-basis: 100px;
        }
  
          .footer-upper-right .input-wrapper {
            flex-direction: column;
            width: 100%;
  
            input, .submit-btn {
              width: 100%;
            }
          }
        }
      }
  
      .footer-lower{
        padding-top: 113px;

        @media #{$brkmx768}
        {
            padding-top: 50px;
            gap: 10px;
        }
        .f-col-1 {
          li {
            display: inline-block;
            margin-right: 10px;
          }
        
          a {
            display: inline-block;
            width: 42px;
            height: 42px;
            overflow: hidden;
            border: 2px solid rgba(19, 121, 255, 0.3);
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            color: $main-color;
            margin-top: 30px;
        
            i {
              font-size: 16px;
            }
        
            &:hover {
              background-color: $main-color;
              color: $white;
            }
          }
        }
        
        .f-col-2{
          h5{
            @include text-style(700,16px,20px,0%);
            color: $main-color;
          }
          .nav{
            margin-top: 24px;
            .nav-link{
              @include text-style(500,14px,20px,0);
              color: $small-font-text;
              margin: 0;
              padding: 0;
              margin-bottom: 16px;
            }
          }
        }
        .f-last-row{
          margin-bottom: 33px;
          .f-last-left{
            .fa-phone-volume, .fa-envelope ,.fa-location-dot{
              width: 48px;
              height: 48px;
              border-radius: 50%;
              background-color: $white;
              color: $main-color;
              line-height: 48px;
              text-align: center;
              cursor: pointer;

              &:hover
              {
                background-color: $main-color;
                color: $white;
              }
            }
          }
          .f-last-right{
            h6{
              @include text-style(400,16px,20px,0);
              color: $main-color;
              margin-bottom: 8px
            }
            p{
              @include text-style(500,14px,20px,0);
              color: $small-font-text;
            }
          }
        }
      }
      .copy-right
      {
        @include text-style(400,16px,100%,0);
        color: $small-font-text;
      }
    }
  }


 /* Chat Icon Wrapper */
.msg-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
}

.msg-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

/* Chat Icon Images */
#chatIcon {
  transition: transform 0.5s ease-in-out;
}
.rotated {
  transform: rotate(-90deg);
}

#msg-Vector {
  position: absolute;
  top: 55px;
  right: 35px;
  transition: top 0.5s ease-in-out, right 0.5s ease-in-out;
}

#msg-Vector.vector-moved {
  top: 47px;
  right: 45px;
}

/* Background Image Position */
.msg-chat-bg {
  position: relative;
}

/* Chat Board */
.chat-board {
  position: fixed;
  bottom: 130px;
  right: 30px;
  width: 100%;
  max-width: 354px;
  background: white;
  border-radius: 10px 10px 10px 0;
  box-shadow: 0 4px 12px #a79eb6;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.chat-board.show {
  transform: translateY(0%);
  opacity: 1;
}

/* Chat Header */
.chat-header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 15px;
}

.chat-bot-heading {
  width: 200px;
}

.chat-bot-icon {
  width: 55px;
  height: 55px;
  background-color: #CDCEFF;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  position: relative;
}

.status-online {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #87DB5C;
  position: absolute;
  top: 3px;
  right: 7px;
}

.chat-bot-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31.2px;
  text-transform: capitalize;
  color: #000000;
}

.chat-bot-status {
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  color: #5A5A5A;
}

.chat-btn-close {
  cursor: pointer;
}

/* Chat Body */
.chat-body {
  background-color: #F3F3FF;
  padding: 15px;
}

.msg-heading {
  display: flex;
  gap: 5px;
}

.msg-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  color: #5A5A5A;
}

.bot-msg {
  background-color: #FFFFFF;
  max-width: 231px;
  border-radius: 0 10px 10px 10px;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 10px;
  color: #000000;
}

/* User Chat */
.user-chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 15px;
}

.user-msg {
  background-color: #6B1DFD;
  max-width: 106px;
  border-radius: 10px 0 10px 10px;
  padding: 5px 10px;
  font-size: 14px;
  margin-top: 10px;
  color: #FFFFFF;
  text-align: right;
}

/* Message Input Box */
.msg-box {
  height: 70px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.msg-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.msg-box input::placeholder {
  color: #5A5A5A;
  font-weight: 400;
}

.send-msg-icon {
  cursor: pointer;
}
