// General Style
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $white !important;
	font-family: "DM Sans", sans-serif !important;
	overflow-x: hidden !important;
}
html{
	overflow-x: hidden !important;
}
// /* COMMON DESIGN START */

a {
	text-decoration: none;
	transition: 0.5s all ease;
 	&:hover {
 		text-decoration: none;
		}
}
h1, h2, h3, h4, h5, h6, p, ul li {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ol {
	margin: 0;
	padding: 0;
 li {
 list-style-position: inside;
}
}
/* COMMON DESIGN END */

/*new common style*/

//sections top bottom padding
.section-wrapper
{
	padding-top: 64px;
	padding-bottom: 64px;

	@media #{$brkmx768}
	{
		padding-top: 24px;
		padding-bottom: 24px;
	}
}

.title-wrapper
{
	padding-bottom: 64px;

	@media #{$brkmx768}
	{
		padding-bottom: 20px;
	}
}

img {
	max-width: 100%;
	height: auto;
}

/*title style*/
.title{
    @include text-style(700, 32px,40px,0%);
    text-align: center;
    color: $heading-color; 
}
@media #{$brkmx768} {
	.title {
	  @include text-style(700, 25px, 28px, 0%);
	  margin-bottom: 24px;
	}
  }
/*button style*/

.btn-outline-primary
{
	border-color: $main-color;
}
.btn{
	border-radius: 10px;
	padding: 14px 32px;
	border: 2px solid $main-color;
	margin-top: 32px;
}
.btn:hover{
	background-color: $main-color;
	color: $white;
}
@media #{$brkmx768}{
	.btn {
	  padding: 10px 24px;
	  font-size: 14px;
	  margin-top: 24px;
	}
  }

.btn-primary
{
	background-color: $main-color;
	&:hover{
		background-color: transparent;
		color: $main-color;
		border: 2px solid $main-color;
	}
}
//order hestory btn style
.btn-light
{
	background-color: $white;
	padding: 4px 48px;
	border: none;
	border-radius: 4px;
	color: $main-color;
}

/*card style*/
.card{
	position: relative;
		.card-title{
		  @include text-style(700, 24px,20px,0%);
		  color: $heading-color;
		  margin-bottom: 8px
		}

		.card-text{
		  @include text-style(500, 16px,20px,0%);
		  color: $card-color;
		  margin-bottom: 8px
		}
		.card-price{
		  @include text-style(700, 18px,20px,0%);
		  margin-bottom: 8px;
		}
	}

//hover card style
.card-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(74, 74, 74, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 2;
    @include rounded(10px);
  
    .hover-btn {
      display: flex;
      flex-direction: column;
      align-items: center;

	  .btn{
		padding: 8px 40px;
		
	  }
      .h-btn1, .h-btn2 {
        border-radius: 10px;
        @include text-style(700, 16px,20px,0%);
        border: none;
		height: 40px;
      }
  
      .h-btn1 {
        color: $main-color;
  
        &:hover{
          background-color: $main-color;
          color: $white;
        }
      }
  
      .h-btn2 {
        border: 1px solid $white;
        margin-top: 13px;

		&:hover{
			border: none;
			border: 1px solid $main-color;

		  }
      }
    }
  }
  .card:hover .card-hover {
    opacity: 1;
    visibility: visible;
  }
/*pro-title style*/
.pro-title{
	.container-xl{
	  background-color: $bg-color;
	  padding: 32px 0;
  
	  .page-title{
		  @include text-style(700,32px,40px,0%);
		  color: $small-font-text;
	  }
  
	  .direction{
		gap: 15px;
  
		a{
		  @include text-style(400,16px,24px,-0.2px);
		  color: $heading-color;
		}
  
		.active
		{
		  @include text-style(500,16px,24px,-0.2px);
		  color: $main-color;
		}

		@media (max-width: 375px){
			a{
				@include text-style(400,13px,24px,-0.2px);
			}
			.active
			{
		  		@include text-style(500,13px,24px,-0.2px);
			}
		}
	  }
	}
  }

/*summary title */
.summary{
	@include text-style(700,24px,20px,0%);
	color: $main-color;
	margin-bottom: 32px;
  }


/*item in cart details*/
.left-lower-part {
  
	margin-bottom: 30px;

	.image-in-cart {
		position: relative;     
		display: inline-block;  
	  }
	  
	  .image-in-cart .delete-btn {
		position: absolute;   
		top: -10px;               
		right: -10px;             
		padding: 0;
		border: none;
		background: transparent;
		cursor: pointer;
		z-index: 2;             
	  }
	  
	  .image-in-cart .delete-btn img {
		display: block;
		width: 34px;           
		height: 34px;
	  }
	  

	  .c-left-text{
		@include text-style(500,20px,20px,0%);
		color: $heading-color;
		margin-bottom: 8px;

		@media #{$brkmx426}
		{
		  @include text-style(500,15px,15px,0%);
		}
	  }

	  .c-left-text-small
		{
		@include text-style(400,16px,20px,0%);
		color: $small-font-text;
		margin-bottom: 8px;
		@media #{$brkmx426}
		{
		  @include text-style(400,10px,10px,0%);
		}
	  }
	}

	.Qty{
	  width: 101px;
	  height: 40px;

	  @media #{$brkmx426}
	  {
		width: 75px;
		height: 30px;
	  }
	  .quantity-selector
	  {
		padding: 8px 16px;
		justify-content: space-between;
	  }
	}

	.quantity-selector .btn1 {
		width: 32px;
		font-size: 23px;
		line-height: 1;
		border: none;
		background-color: transparent;
		color: $small-font-text;
		opacity: 50%;
	  }
	  
	  .quantity-selector .quantity-input {
		// width: 40px;
		border: none;
		font-size: 16px;
		padding: 0;
	  }
	  
	  .quantity-selector .quantity-input:focus {
		box-shadow: none;
	  }
	.c-price{
	  text-align: center;
	  @include text-style(700,16px,20px,0%);
	  color: $heading-color;
	  margin-top: 15px;

	  @media #{$brkmx426}
	  {
		@include text-style(700,14px,20px,0%);
	  }
  }

//cart Discount apply dropdown 

.apply-dropdown {
	margin-bottom: 70px; 

  .dropdown-toggle{
	background-color: transparent;
	border: none;
	width: 100%;
	max-width: 100%;
	@include text-style(400,20px,20px,0);
	vertical-align: middle;
	color: $heading-color;
	padding-bottom: 15px;
  }
  .dropdown-toggle::after {
	display: none;
  }
  .fa-angle-down{
	color: $small-font-text;
  }

  .dropdown-menu 
  {
	width: 100%;
	max-width: 100%;
	border: 1px solid $heading-color;
  }
  input{
   outline: none;

	&::placeholder{
	  @include text-style(400,16px,20px,0%);
	  color: $small-font-text;
	}
  }

  input.form-control:focus {
	outline: none;
	box-shadow: none !important;
  }
} 


//cart text style
.cart-text{
	@include text-style(700,16px,20px,0%);
	color: $heading-color;
	margin-bottom: 24px;
}
.cart-text1{
	@include text-style(500,14px,20px,0%);
}

//check-out right col style
//Order Summary style 
.checkout-right{
	.left-lower-part
	{
	  gap: 30px;

	  .c-price{
		text-align: center;
		@include text-style(500,20px,30px,0%);
		color: $heading-color;
	
		@media #{$brkmx426}
		{
			@include text-style(500,14px,20px,0%);
		}
	
	  }
	  .quantity-selector {
		width: 104px;
		height: 40px;
		border-radius: 10px;
		overflow: hidden;
		border: 1px solid #ccc;
	  }
	}
  }

  .checkout-right
  {
	flex-basis: 457px;

	@media #{$brkmx1097} 
	{
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
  }

//form label style
.form-label {
	@include text-style(500, 14px, 100%, 0%);
	color: $heading-color;
	margin-top: 16px;
}
.form-select
{
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	color: $heading-color;
	opacity: 75%;
	height: 44px;
	border-radius: 8px;
}

//my account side bar

.account-page-section, .order-history-section{
	.nav-item
    {
      padding: 10px 0px;
      @include text-style(500,16px,100%,0%);
      text-align: left;

      &:hover
      {
        background-color: $bg-color;
        border-radius: 10px;
      }
    }
    .nav-link
    {
      color: $small-font-text;
      padding-left: 5px;
    }
}


  

