// General Style
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $white !important;
	font-family: "DM Sans", sans-serif !important;
	overflow-x: hidden !important;
}
html{
	overflow-x: hidden !important;
}
/* COMMON DESIGN START */

a {
	text-decoration: none;
	transition: 0.5s all ease;
 	&:hover {
 		text-decoration: none;
		}
}
h1, h2, h3, h4, h5, h6, p, ul li {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ol {
	margin: 0;
	padding: 0;
 li {
 list-style-position: inside;
}
}
/* COMMON DESIGN END */

/*new common style*/

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

/*title style*/
.title{
    @include text-style(700, 32px,40px,0%);
    text-align: center;
    color: #3A3A3A;
    margin-bottom: 32px;
}
@media #{$brkmx768} {
	.title {
	  @include text-style(700, 25px, 28px, 0%);
	  margin-bottom: 24px;
	}
  }
  

/*button style*/
.btn{
	border-radius: 10px;
	border-width: 2px;
	padding: 14px 32px;
	border: 2px solid $main-color;
	color: $main-color;
	margin-top: 32px;
}
.btn:hover{
	background-color: $main-color;
	color: $white;
}
@media #{$brkmx768}{
	.btn {
	  padding: 10px 24px;
	  font-size: 14px;
	  margin-top: 24px;
	}
  }
  
/*card style*/
.card{
	position: relative;
		.card-title{
		  @include text-style(700, 24px,20px,0%);
		  color: $heading-color;
		  margin-bottom: 8px
		}

		.card-text{
		  @include text-style(500, 16px,20px,0%);
		  color: #898989;
		  margin-bottom: 8px
		}
		.card-price{
		  @include text-style(700, 18px,20px,0%);
		  margin-bottom: 8px;
		}
	}
.btn1{
  margin-top: 16px;
  text-align: center;
}   

