.header-row {
  margin-top: 16px;
  margin-bottom: 12px;

  .search-wrapper {
    position: relative;

    input {
      width: 100%;
      height: 48px;
      padding-left: 40px;
      background: $bg-color url('../../../assets/images/search-Icon.svg') no-repeat 12px center;
      background-size: 20px 20px;
      border: none;
      border-radius: 30px;
    }
  }

  .dropdown {

    a.dropdown-toggle {
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      color: $small-font-text;
    }

    .dropdown-menu {
      min-width: 100px;
      text-align: left;
    }
  }

  .fa-user {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

// NAVIGATION SECTION
.nav {

  .navbar-toggler
  {
    border: transparent;
    color: $main-color;
  }
  .navbar-toggler-icon
  {
    width: 20px;
    height: 20px;
    background-image: url('../../../assets/images/menubar-icon.svg');
  }

  .navbar-nav {
    gap: 40px;

    .nav-item {
      .nav-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        color: $small-font-text;
    
        &:hover {
          color: $main-color;
        }
      }

      &:first-child .nav-link {
        color: $main-color;
      }
    }
  }

  .nav-delete {
    img {
      width: 48px;
      height: 48px;
    }
  }
}
