.header-row {
  padding-top: 20px;
  padding-bottom: 16px;

  .logo-img {
    max-width: 210px;
  @media #{$brkmx426}{
    max-width: 100px;
  }
}

  
  .search-wrapper {
    position: relative;
    width: 100%;
    max-width: 590px;
    flex-grow: 1;

    input {
      width: 100%;
      max-width: 590px;
      height: 48px;
      padding-left: 40px;
      background: $bg-color url('../../../assets/images/search-Icon.svg') no-repeat 12px center;
      background-size: 20px 20px;
      border: none;
      border-radius: 30px;
    }
  }

  .menu-col
  {
    gap: 40px;

    @media #{$brkmx576}
     {
      gap: 15px;
    }
  }

  .dropdown {

    a.dropdown-toggle {
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      color: $small-font-text;
    }

    .dropdown-menu {
      min-width: 100px;
      text-align: left;
    }
  }

  .fa-user {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  @media (max-width: 991.98px) {
  .header-row {
    .search-wrapper {
      max-width: 100%;

      input {
        max-width: 100%;
      }
    }
  }
}

}

// NAVIGATION SECTION
.nav {
  .navbar-toggler
  {
    border: transparent;
    color: $main-color;
    background-color: transparent;
  }
  .navbar-toggler-icon
  {
    width: 20px;
    height: 20px;
    background-image: url('../../../assets/images/menubar-icon.svg');
    border: none;
    outline: none;
    margin-right: 14px;
  }

  .navbar-nav {
    gap: 40px;

    .nav-item {
      padding: 0;
      .nav-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        color: $small-font-text;
    
        &:hover {
          color: $main-color;
        }
      }

    }
  }

  .nav-delete {
    img {
      width: 48px;
      height: 48px;
    }
  }
}
