// Variables

$success: #28a745;
$danger: #dc3545;
$white: #fff;
$primary-white: #f9f8f5;
$black: #000;
$primary-black: #121212;
$black-two: #221b1b;
$greyish: #b9b9b9;
$greyish-two: #ababab;
$light-grey: #d8d7d3;
$light-grey-two: #cfd4cd;
$dark-shadow: #00000033;

//new variables

$main-color: #1379FF;
$small-font-text: #4A4A4A;
$bg-color: #F1F7FF;
$heading-color :#3A3A3A;
$green-color : #00B517;
$card-color : #898989;
