.hero{
  position: relative;

  .container{
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 44%;
      background: url('../../../assets/images/blue-dots.svg') no-repeat; 
      width: 77px;
      height: 50px;
      }
  }

  &::after{
    content: "";
    position: absolute;
    bottom: 50px;
    right: 0px;
    background: url('../../../assets/images/msg-logo.svg') no-repeat;
    width: 62px;
    height: 60px;
  }

    .hero-row
    {
      background: $bg-color;
      @include rounded(10px);

        .hero-left{
          max-width: 390px;
          margin: auto;
          h2{
              color: $main-color;
              @include text-style(500, 40px,48.51px,0%);
          }
          p{
              @include text-style(500, 20px,32px,0%);
              margin-top: 16px;
              color: $small-font-text;
              opacity: 80%;
          }
          .btn{
            width: 167px;
            height: 52px;
          }

          @media #{$brkmx768}{
            h2{
              @include text-style(500, 25px,30px,0%);
            }
            p{
              @include text-style(500, 12px,15px,0%);
            }
            .btn{
              width: 140px;
              height: 42px;
            }
          }
        }
        .hero-right{

            text-align: center;
            position: relative;

            &::before{
              content: "";
              position: absolute;
              top: 150px;
              right: 20px;
              background: url('../../../assets/images/hero-number.svg') no-repeat;
              width: 19px;
              height: 168px;
            }

            img{
                width: 100%;
                height: 485px;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                object-fit: cover;
                margin-left: 11px;

                @media (max-width: 768px){
                  margin-left: 0;
                }
            }
        }
    }
}

/*category style start*/
.categories{
  margin-bottom: 120px;
  .container{
    margin-top: 64px;
      .cate-heading{
        margin-bottom: 64px;

        .category-prev,
        .category-next {
          width: 45px;
          height: 45px;
          background-color: $bg-color;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          cursor: pointer;

          i {
            color: $main-color;
            font-size: 16px;
          }

          &:hover {
            background-color: #a4caf8;
          }
        }
      }

      .swiper {
        width: 100%;
        height: 141px;
        margin-top: 70px;

        @media #{$brkmx768}{
          margin-top: 30px;
          }
        }

        .swiper-slide {
        background: $bg-color;
        font-size: 24px;
        border: 3px solid transparent;
        transition: border 0.3s;
        max-width: 166px;
        width: 100%;
        min-height: 141px;
        border: 2px solid #0000004D;
        border-radius: 4px;
        }
        P{
          font-family: Poppins;
          @include text-style(400,16px,24px,0%);
          color: $small-font-text;
          margin-top: 15px;
        }
        .swiper-slide-active {
          border: 2px solid #1379FF;
          border-radius: 4px;
        }
  }
}
@media #{$brkmx768}
{
  .categories{
    margin-bottom: 50px;
    .container{
      margin-top: 30px;
    }
  }
}

/*product start*/

.product{
    .container{
        .nav-tabs{
            gap: 32px;
            margin-bottom: 32px;
            border-bottom: none !important;

            .nav-link.active {
              color: $main-color !important; 
              border-bottom: 1px solid $main-color; 
            }
        }
        .nav-link{
            color: $small-font-text;
            @include text-style(500, 20px,20px,0%);
            text-align: center;
            border: none;

            &:hover{
                border-bottom: 1px solid $main-color;
                color: $main-color;
            }
            @media #{$brkmx768}{
              @include text-style(300, 13px,10px,0%);
            }
        }

        .tab-wrapper {
          -webkit-overflow-scrolling: touch;
          display: flex;
          justify-content: center;
          overflow-x: auto;
          width: 100%;
        }

        @media (max-width: 768px) {
          .tab-scroll {
            display: flex;
            flex-wrap: nowrap !important;
            white-space: nowrap;
            gap: 10px;
          }
        
          .nav-item {
            flex: 0 0 auto;
          }
        
          .nav-link {
            white-space: nowrap;
          }
        }
        
        .card-hover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(74, 74, 74, 0.7);
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.3s ease, visibility 0.3s ease;
          z-index: 2;
          @include rounded(10px);
        
          .hover-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
        
            .h-btn1, .h-btn2 {
              border-radius: 10px;
              padding: 8px 40px;
              @include text-style(700, 16px,20px,0%);
              border: none;
            }
        
            .h-btn1 {
              background-color: $white;
              color: $main-color;
            }
        
            .h-btn2 {
              background-color: transparent;
              border: 1px solid $white;
              color: $white;
              margin-top: 13px;
            }
          }
        }
      
        .card:hover .card-hover {
          opacity: 1;
          visibility: visible;
        }
    }
}
/*Subscription style start*/

.Subscription{
  background:#F1F7FF;
  margin-top: 64px;
  padding-bottom: 64px;
  .container{
    .sub-title{
      .title{
        padding-top: 64px;
      }
      p{
        max-width: 607px;
        width: 100%;
        @include text-style(500,16px,32px,0%);
        text-align: center;
        opacity: 80%;
        margin: 0 auto;
    }

      span{
        color: $main-color;
      }

      @media #{$brkmx768}
      {
        p{
          @include text-style(500,14px,28px,0%);
        }
      }
    }
    .nav {
      margin-top: 48px;
      margin-bottom: 64px;
      .nav-item {
        max-width: 267px;
        width: 100%;
        height: 64px;
        background-color: $white;
        @include rounded(10px);
    
        .nav-link {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          font-family: Gilroy-SemiBold;
          @include text-style(400, 20px,20px,0%);
        }
      }

      @media #{$brkmx768}
      {
        margin-top: 20px;
        margin-bottom: 40px;
          .nav-item{
            height: 50px;
            margin-top: 10px;
          }
      }
    }
    .left-card{
      min-height: 429px;
      width: 100%;
      z-index: 222;
      h3{
        @include text-style(700, 20px,20px,0%);
        color: $main-color;
        margin-bottom: 8px;
      }
      p{
        max-width: 215px;
        @include text-style(400,16px,20px,0%);
        color: $small-font-text;
        margin-bottom: 10px;
      }
      h2{
        @include text-style(700,35px,20px,0%);
        margin-top: 10px;

        span{
        @include text-style(700,16px,20px,0%)
        }
      }

      .btn{
        width: 100%;
        @include text-style(500,16px,24.26px,0%);
        background-color: $main-color;
        color: $white;
        margin: 0;
        margin-top: 16px;
      }
      .btn:hover{
        background: transparent;
        border: 1px solid $main-color;
        color: $main-color;
      }

      h6{
        text-transform: uppercase;
        @include text-style(700,14px,24.26px,0.81px);
        color: $main-color;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-top: 16px;
  
        li {
          display: flex;
          align-items: center;
          margin-bottom: 8px;
          color: rgba(74, 74, 74, 1);
          @include text-style(400,14px,20px,0%);
  
          i {
            color: rgba(0, 181, 23, 1);
            margin-right: 8px;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

/*Deal style start*/
.deal{
  background: linear-gradient(180deg, #15BEFF 0%, #1380FF 100%);
  overflow-x: hidden ;
    .deal-left{
      color: $white;
      text-align: center;

      p{
        @include text-style(500,16px,14.28px,0);
        margin-bottom: 20px;
        margin-top: 20px
      }

      h2{
        @include text-style(700,40px,40px,0);
        text-transform: uppercase;
          span{
            @include text-style(400,40px,40px,0);
          }

          @media #{$brkmx768}
          {
            @include text-style(700,30px,35px,0);
            span{
              @include text-style(400,30px,35px,0);
            }
          }
      }

      .btn{
        border-color: $white;
        color: $white;
      }
      .btn:hover{
        background-color: $white;
        color: $main-color;
      }

      @media #{$brkmx768}
      {
        .btn{
          margin-bottom: 10px;
        }
      }
    }

    .deal-right {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
}
 
.client {
  .container {
    .title {
      margin-top: 64px;
      margin-bottom: 64px;
      text-align: center;

      @media #{$brkmx768}
      {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }

    .swiper {
      width: 100%;
      padding-bottom: 30px;
    }

    .swiper-slide {
      background: #F1F7FF;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      max-width: 560px;
      width: 100%;
      padding: 20px;
      border-radius: 20px;
      box-sizing: border-box;
      transition: all 0.3s ease-in-out;
      filter: blur(2px) brightness(0.8);
      transform: scale(0.85);
      opacity: 0.4;
    }

    .swiper-slide-active,
    .swiper-slide-duplicate-active {
      filter: none;
      transform: scale(1);
      opacity: 1;
      z-index: 2;
    }

    .swiper-left {
      margin-right: 20px;

      img {
        max-width: 206px;
        min-height: 224px;
        border-radius: 12px;
        object-fit: cover;
      }
    }

    .swiper-right {
      flex: 1;
      position: relative;
      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #4A4A4A;
        margin-bottom: 12px;
      }
      h5 {
        font-weight: 700;
        font-size: 14px;
        color: #1379FF;
        margin-bottom: 4px;
      }
      span {
        font-weight: 400;
        font-size: 10px;
        color: #727272;
      }
      .quotes-img{
        position: absolute;
        top: -20px;
        right: 0;
      }
    }

    .swiper-nav-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 200px;
      margin-top: 90px;
    }

    .client-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 35px;
      gap: 3px;
    }
    
    .client-pagination .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background: #ccc;
      opacity: 1;
      width: 22px;
      height: 4px;
      border-radius: 1px;
    }
    
    .client-pagination .swiper-pagination-bullet-active {
      background: #007bff;
      width: 46px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: static !important;
      width: 30px;
      height: 30px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 20px;
      font-weight: bold;
      color: #1379FF;
    }
    
    @media #{$brkmx768} {
      .swiper-slide {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .swiper-left {
        margin: 0 0 15px 0;
      }

      .swiper-right {
        p {
          font-size: 13px;
        }
      }
    }
  }
}

/*company style start*/

.company {
  background: $bg-color;
  color: $black;
  padding: 66px 48px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 64px;

  @media #{$brkmx768} {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 38px 30px;
  }

  .company-col1 {
    width: 100%;
    max-width: 204px;
    text-align: center;


    @media (min-width: 768px) {
      text-align: left;
      border-right: 2px solid $main-color;
      padding-right: 20px;
    }

    p {
      @include text-style(700, 35px, 38px, 0%);
      margin: 0;
    }

    img{
      width: 19px;
      height: 39px;
      @include rounded(4px);
      margin-top: 20px;

      @media #{$brkmx768}{
        display: none;
      }
    }
  }

  .company-col {
    flex: 1;
    padding: 23px 0;

    .swiper-wrapper {
      gap: 60px;
    }

    .swiper-slide {
      width: auto;
    }
  }
}